.hero-section {
  height: 100vh; /* Full screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}
