.bebas-neue-regular-s {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  /* font-size: 2.8rem; */
  color: #333333; /* Neutral dark color for text */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.1rem;
}
