@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
}
/* Footer */
.bebas-neue-regular-f {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  color: #333333; /* Neutral dark color for text */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.01rem;
  padding-top: 5px;
  padding-left: 5px;
}
